*{
    margin: 0px;
}


/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.name {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.d-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border: 2px solid rgba(0, 0, 0, 0.808);
border-radius: 8px;
align-items: center;
justify-content: center;
display: flex;
width: 228px;
height: 58px;
}
.Hero{
    background-image: url(assets/hero-bg.png);
    width: 1440px;
height: 652px;
}